.button {
	background-color: hsl(var(--primary-500));
	border: none;
	color: hsl(var(--white));
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 0.5rem;
	padding: 1rem 5rem;
	cursor: pointer;
	box-shadow: 0 1rem 3rem hsl(var(--primary-500), 0.3);
}

.button:hover,
.button:focus {
	background-color: hsl(var(--primary-500), 0.7);
}

.button svg path {
	fill: currentColor;
}
