*,
*::before,
*::after {
	box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	--primary-500: 26, 100%, 55%;
	--primary-300: 25, 100%, 94%;
	--secondary-900: 220, 13%, 13%;
	--secondary-600: 219, 9%, 45%;
	--secondary-400: 220, 14%, 75%;
	--secondary-200: 223, 64%, 98%;
	--white: 0, 0%, 100%;
	--black: 0, 0%, 0%;

	font-family: "Kumbh Sans", sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.app-container {
	width: 80%;
	max-width: 1440px;
	margin-inline: auto;
	position: relative;
}

@media only screen and (max-width: 900px) {
	.app-container {
		width: 90%;
	}
}
